body{
	background-color: #000;
	color: #AAA;
}	

h3{
	color: #CCC;
}

code{
	color : #009933;
}

pre {
	padding : 10px;
	background-color: #333;
}

.footer{
	color : #CCC;
	font-size : 10px;
	margin-bottom : 15;
}

.footer a{
	color : #CCC;
	text-decoration: none;
}

.footer a:hover{
	color : #FFF;
	text-decoration: underline;
}

a{
	color : orange;
}

.center-align{
	width : 100%;
	text-align: center;
}

.nav_item{
	width : 100px;
	color : #FFF;
}

.nav_item a{
	color : #DDD;
	text-decoration: none;
}

.nav_item a:hover{
	color : #FAF75F;
	text-decoration: underline;
}

.page_content{
	text-align: left;
	width : 600px;
	margin-bottom : 10px;
}

.post_item {
	font-size : 25px;
}

.post_item a{
	color : #FFF;
	text-decoration: none;
}

.post_category {
	color : #CCC;
	font-size : 10px;
}

.post_date {
	color : #CCC;
	font-size : 10px;
}

.post_item a:hover{
	color : yellow;
	text-decoration: underline;
}

.post_end{
	font-size : 10px;
	color : #FFCC66;
	text-align: center;
	margin-bottom : 20px;
	padding-bottom: 20px;
}

.page_title {
	color : #FFF;
	font-size : 40px;
	line-height: 20px;
	text-align : left;
	width : 600px;
	margin-top : 10px;
	margin-bottom : 10px;
}

.page_meta{
	font-size : 10px;
	color : #CCC;
}
