html{
	height: 100%;
}

body{
	background-color: #000;
	color: #AAA;
	height: 100%;
}

h3{
	color: #CCC;
}

h2{
	color: #FFF;
}

h1{
	line-height: 35px;
}

code{
	color : #009933;
}

pre {
	padding : 10px;
	background-color: #333;
}

.wrapper{
	min-height: 100%;
	min-height: calc(100% - 90px);
}

.footer{
	color : #CCC;
	font-size : 10px;
	margin-top : 30px;
	margin-bottom : 15;
}

.footer a{
	color : #CCC;
	text-decoration: none;
}

.footer a:hover{
	color : #FFF;
	text-decoration: underline;
}

a{
	color : orange;
}

.center-align{
	width : 100%;
	text-align: center;
}

.nav{
	margin-bottom : 20px;
}

.nav_item{
	width : 100px;
	color : #FFF;
}

.nav_item a{
	color : #DDD;
	text-decoration: none;
}

.nav_item a:hover{
	color : #FAF75F;
	text-decoration: underline;
}

.page_content{
	text-align: left;
	width : 700px;
	margin-bottom : 10px;
	line-height: 25px;
}

.post_item {
	font-size : 25px;
}

.post_item a{
	color : #FFF;
	text-decoration: none;
}

.post_category {
	color : #CCC;
	font-size : 10px;
}

.post_date {
	color : #CCC;
	font-size : 10px;
}

.post_item a:hover{
	color : yellow;
	text-decoration: underline;
}

.post_end{
	font-size : 10px;
	color : #FFCC66;
	text-align: center;
	margin-bottom : 20px;
	padding-bottom: 20px;
}

.page_title {
	color : #FFF;
	font-size : 40px;
	line-height: 40px;
	text-align : left;
	width : 700px;
	margin-top : 10px;
	margin-bottom : 10px;
}

.page_meta{
	font-size : 10px;
	color : #CCC;
}

.pagination{
	text-align: center;
}

.page_number{
	color: #FFF;
}
