<!DOCTYPE html>
<html>
<head>
    <title>Nurinamu's Home page - {{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="{{baseurl}}/assets/css/style.css" />
</head>
<body>
{% include header.html %}

{% include nav.html %}

<table width="100%">
<tr>
	<td align="center">
		<div class="page_title">
			{{page.title}}			
			<span class="post_date">
			-
			{{page.date | date: '%Y %B %d'}}</span>
		</div>
		<div class="page_content">
			{{content}}
		</div>
	</td>
</tr>	
</table>

{% include footer.html %}
</body>
</html>